<footer class="footer">
    <div class="col-lg-6"> <span class="help-block small">MDTech Ltda. 2015-2022</span></div>
    <div class="col-lg-6">

        <span class="help-block small pull-right">
            <b>Mesa de Ayuda: </b>
            <i class="fa fa-envelope"></i> lodapr@aguasaraucania.cl - 
            @*<i class="pe pe-7s-mail"> @Html.ActionLink("Mesa de Ayuda: lodapr@aguasaraucania.cl", "EnviarCorreoMA", "Account")</i>*@
            
            <i class="fa fa-phone">  </i>  45-2207336
        </span>
    </div>
</footer>
