<div class="color-line-light-blue">
</div>
<div id="logo" class="light-version-alter-light-blue">
    <span>
       ADMINISTRACIÓN
    </span>
</div>
@Html.Partial("~/Views/Shared/_AppMenu.cshtml")


