@model LOD_APR.Helpers.Filtro_Documentos

<label class="control-label">Tipos de Comunicación:</label>
<div class="input-group">
    @Html.DropDownList("IdTipoComunicacion", null, htmlAttributes: new { @class = "form-control " })
</div>
