@model LOD_APR.Helpers.Filtro_Documentos

<label class="control-label">Tipos de Documentos:</label>
<div class="input-group">
    @Html.DropDownList("IdTipoDoc", null, htmlAttributes: new { @class = "form-control " })
</div>