<div class="hpanel hblue">
    <div class="panel-heading hbuilt">
        <div class="row">
            <div class="col-xs-8">
                <span>Ficha Sujeto Económico</span>
            </div>
            <div class="col-xs-4 pull-right">

            </div>
        </div>
    </div>
    <div class="panel-body text-center panel-load">
        <div class="sk-spinner sk-spinner-wandering-cubes">
            <div class="sk-cube1"></div>
            <div class="sk-cube2"></div>
        </div>
        <h2 href="#" data-letters-galena="SE" class="m-b-sm" style="vertical-align: middle;"></h2>
        <div class="m-t-sm">
            <h3 class="m-b-xs">Ficha</h3>
            <h3 class="m-t-xs">Sujeto Económico</h3>
            <div class="text-muted font-bold m-b-xs">@ViewBag.Cargo</div>
        </div>
        <div class="text-center">
            <div class="btn-group">
                <a class="btn btn-default btn-xs disabled" href="#" target="_blank"><i class="fa fa-globe"></i></a>
                <a class="btn btn-default btn-xs disabled" href="#" target="_blank"><i class="fa fa-envelope-o"></i></a>
                <a class="btn btn-default btn-xs disabled" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-default btn-xs disabled" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-default btn-xs disabled" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <div class="text-left m-t-md">

        </div>
    </div>

</div>
