@model LOD_APR.Areas.GLOD.Models.LOD_Anotaciones
@using LOD_APR.Areas.GLOD.Models;

<div class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdAnotacion)
    <div class="row">
        <div class="col-md-12">
            <h4>¿Realmente desea eliminar esta anotación?</h4>
        </div>
    </div>
  
</div>

