@model LOD_APR.Areas.GLOD.Models.LOD_LibroObras

<div class="modal fade hmodal-danger" id="modalLibros" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
           
          
                  @using (Ajax.BeginForm("Delete", null, new AjaxOptions()
                  {
                      HttpMethod = "POST",
                      OnSuccess = "glod_libroobras.saveResult(data,status,xhr);"
                  }, new { name = "formLibros", id = "formLibros" }))
                  {

                        <div class="modal-header">
                            <h4 class="modal-title">Eliminación de Bitacora</h4>
                            <small class="font-bold"><i class="fa fa-warning text-warning"></i> Los registros asociados a este libro seran eliminados</small>
                        </div>
                        <div class="modal-body">

                            <div class="form-horizontal">
                                <h4>¿Realmente desea eliminar este Libro : @Model.NombreLibroObra?</h4>
                                <hr />
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.IdLod)
                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="btn-group pull-right">
                                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Si, eliminar</button>
                                            <a href="#" data-dismiss="modal" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                  }

              @*else
              {
                <div class="modal-header">
                    <h4 class="modal-title">Eliminación de Bitacora</h4>
                    <small class="font-bold">Esta Bitacora no puede ser eliminada</small>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <h4>La bitacora <b>@Model.NombreBitacora</b> no puede ser eliminada ya que contiene anotaciones</h4>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="btn-group pull-right">
                                    <a href="#" data-dismiss="modal" class="btn btn-default"> OK </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              }*@

        </div>
    </div>
</div>