<div class="hpanel hblue">
    <div class="panel-heading hbuilt">
        <div class="row">
            <div class="col-xs-8">
                <span> Filtro y búsqueda</span>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </div>
    <div class="panel-body ">
        <div class="input-group">
            <input class="form-control" type="text" id="searchInput" placeholder="Buscar en tabla"> <span class="input-group-btn">
                <button id="btnTableSearch" type="button" class="btn btn-warning" onclick="$('#searchInput').val('');">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>
